[[source]]
name = "medical-appointment-classifier"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
joblib = "*"
sklearn = "*"
gunicorn = "*"
flask-cors = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
